<mat-card >
  <mat-card-header>
    <mat-card-title>Search</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div margin="5px">
      <form >
        <ng-container *ngFor="let column of columnsToDisplay">
          <mat-form-field appearance="fill">
            <mat-label>{{column}}</mat-label>
            <input matInput matTooltip="Enter {{column}}">
          </mat-form-field>
        </ng-container>
      </form>
      <button mat-raised-button color="primary" margin-left = "5px">Search</button>
    </div>
  </mat-card-content>
</mat-card>
